# Local environment configuration. Do not commit real secrets.
MONGO_URI=mongodb://<username>:<password>@<host1>:27017,<host2>:27017,<host3>:27017/<database>?ssl=true&replicaSet=<replicaSet>&authSource=admin&appName=<appName>
PORT=5001